<div class="modal-header" style="background-color: rgb(52, 58, 64)">
    <h3 class="font-weight-light text-light ml-auto">Criar operador</h3>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="registerForm">
    <div class="form-group">
      <label for="user">Nome de operador</label>
      <input formControlName="user" type="text" class="form-control"
      [ngClass]="{'is-invalid': registerForm.get('user').touched && registerForm.get('user').invalid, 'is-valid':registerForm.get('user').touched && registerForm.get('user').valid}">
      <div class="invalid-feedback">
        <div *ngIf="registerForm.get('user').hasError('required')">
          Nome é obrigatório.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Palavra-passe</label>
      <input formControlName="password" type="password" class="form-control" [ngClass]="{'is-invalid': registerForm.get('password').touched && registerForm.get('password').invalid, 'is-valid':registerForm.get('password').touched && registerForm.get('password').valid}">     
      <div class="invalid-feedback">
        <div *ngIf="registerForm.get('password').hasError('required')">
          Palavra-passe e obrigatoria.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input formControlName="Email" type="email" class="form-control" [ngClass]="{'is-invalid': registerForm.get('Email').touched && registerForm.get('Email').invalid, 'is-valid':registerForm.get('Email').touched && registerForm.get('Email').valid}">
      <div class="invalid-feedback">
        <div *ngIf="registerForm.get('Email').hasError('required')">
          Email e obrigatorio.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="school">Centro do exame</label>
      <select class="form-control" formControlName="Exam_center_idExam_center" #school
        (focusout)="getExamCenter(school.value)" #examcenter [ngClass]="{'is-invalid': registerForm.get('Exam_center_idExam_center').touched && registerForm.get('Exam_center_idExam_center').invalid, 'is-valid':registerForm.get('Exam_center_idExam_center').touched && registerForm.get('Exam_center_idExam_center').valid}">
        <option *ngFor="let center of centers" [ngValue]="center.idExam_center">{{center.Exam_center_name}}</option>
      </select>
      <div class="invalid-feedback">
        <div *ngIf="registerForm.get('Exam_center_idExam_center').hasError('required')">
          Centro do exame e obrigatorio.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="role">Tipo de operador</label>
      <select class="form-control" (ngModelChange)="setNewUser($event)" [ngModel]="roles" name="roles"
        formControlName="role">
        <option *ngFor="let role of roles" [ngValue]="role">{{role.Role_name}} </option>
      </select>
    </div>
    <div>
      <p *ngIf="selectedRole">{{ selectedRole.Obs }}</p>
    </div>
    <div *ngIf="selectedRole === 2 && examcenter.value" class="form-group">
      <label for="role">Escola</label>
      <select class="form-control" formControlName="School_idSchool" #school>
        <option *ngFor="let school of schools" [ngValue]="school.idSchool">{{school.School_name}} </option>
      </select>
    </div>
    <div>
      <button type="button" class="btn btn-secondary mr-auto" (click)="activeModal.close('Close click')">Fechar</button>
      <button type="button" class="btn btn-outline-success float-right" (click)="registerUser()">Registrar</button>
    </div>
  </form>
  </div>
