<app-navbar></app-navbar>
<div class="card-header bg-light shadow-sm">
  <ul class="nav nav-pills card-header-pills justify-content-end">
    <li class="h4 mr-auto font-weight-light" routerLink="/parameters">Parâmetros</li>
    <li class="nav-item">
      <button type="button" routerLink="/parameters/banks" class="btn btn-light">Bancos</button>
    </li>

    <li class="nav-item">
      <button type="button" routerLink="/parameters/dsv" class="btn btn-light">DSV</button>
    </li>

    <li class="nav-item">
      <button type="button" routerLink="/parameters/iva" class="btn btn-light">IVA</button>
    </li>

    <li class="nav-item">
      <button type="button" routerLink="/parameters/exam_locations" class="btn btn-light">Locais de exame</button>
    </li>

    <li class="nav-item">
      <button type="button" routerLink="/parameters/results" class="btn btn-light">Resultados</button>
    </li>

    <li class="nav-item">
      <button type="button" routerLink="/parameters/status" class="btn btn-light">Status</button>
    </li>

    <li class="nav-item">
      <button type="button" routerLink="/parameters/exams" class="btn btn-light">Tipos de exame</button>
    </li>

    <li class="nav-item">
      <button type="button" routerLink="/parameters/ids" class="btn btn-light">ID</button>
    </li>

    <li class="nav-item">
        <button type="button" routerLink="/parameters/categories" class="btn btn-light">Categorias</button>
      </li>
  </ul>
</div>

<router-outlet></router-outlet>

