/* .container {
    min-height:100vh;
    min-width:100%;
    background-image: url('C:\Users\user\gce\src\assets\bk.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
} */