<app-navbar></app-navbar>
<div class="card-header bg-light shadow-sm">
  <ul class="nav nav-pills card-header-pills justify-content-end">
    <li class="h4 mr-auto font-weight-light">Tesouraria</li>
    <form class="form-inline mr-auto" [formGroup]="searchForm">
    <select class="form-control form-control-sm mr-sm-2" formControlName="param1" aria-describedby="passwordHelpBlock" #param1>
      <option value="userId">Numero</option>
      <option value="Student_license">Pesquisar tudo</option>
    </select>
    <input class="form-control form-control-sm mr-sm-2" formControlName="param2" type="search" placeholder="Pesquisar"
      aria-label="Search" #param2>
    <button class="btn btn-outline-secondary btn-sm" type="submit">Pesquisar</button>
    <button class="btn btn-outline-secondary btn-sm" type="button">Pesquisa avançada </button>
  </form>
    <li class="nav-item">
      <button type="button" class="btn btn-light" (click)="addCheques()"><i class="fas fa-plus"></i>
        Novo</button>
    </li>

    <li class="nav-item">
      <button type="button" class="btn btn-light"><i class="fas fa-print"></i>
        Imprimir</button>
    </li>

    <li class="nav-item">
      <button type="button" class="btn btn-light"><i class="far fa-list-alt"></i>
        Status</button>
    </li>

    <li class="nav-item">
      <button type="button" class="btn btn-light"><i class="far fa-list-alt"></i>
        Listagens</button>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>

<!-- (click)="addCheques()" -->