<app-navbar></app-navbar>
<div class="card-header bg-light shadow-sm">
  <ul class="nav nav-pills card-header-pills justify-content-end">
    <li class="h4 mr-auto font-weight-light" routerLink="/parameters">Configurações</li>

    <li class="nav-item">
      <button type="button"  class="btn btn-light">Centro 1 Braga</button>
    </li>

    <li class="nav-item">
      <button type="button" class="btn btn-light">Centro 2 Porto de Mós</button>
    </li>

    <li class="nav-item">
      <button type="button" routerLink="" class="btn btn-light">Centro 3 Albergaria-a-Velha</button>
    </li>

    <li class="nav-item">
      <button type="button" routerLink="/configurations/ce1" class="btn btn-light">Centro 4 Barreiro</button>
    </li>

    <li class="nav-item">
      <button type="button" routerLink="" class="btn btn-light">Centro 5 Penafiel</button>
    </li>

    <li class="nav-item">
      <button type="button" class="btn btn-light">Centro 6 Linda-a-Velha</button>
    </li>

  </ul>
</div>

<router-outlet></router-outlet>