<div class="modal-header" style="background-color: rgb(52, 58, 64)">
    <h2 class="font-weight-light text-light ml-auto">Editar marcação</h2>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form class="form" [formGroup]="editExam">
        <legend class="h2 font-weight-light">Escola</legend>
        <hr>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="Alvara">Alvara:</label>
                    <input type="text" class="form-control" formControlName="Permit">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="School_name">Escola:</label>
                    <select class="form-control" formControlName="School_name" #select>
                        <option *ngFor="let school of schools" [ngValue]="school.idSchool">{{ school.School_name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <legend class="h2 font-weight-light">Candidato</legend>
        <hr>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="Student_num">Número:</label>
                    <input type="text" class="form-control" placeholder="Número" formControlName="Student_num"
                        #Student_num>
                </div>
            </div>
            <div class="col-8">
                <div class="form-group">
                    <label for="Student_name">Nome:</label>
                    <input type="text" class="form-control" formControlName="Student_name">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="id_type">Documento identificação:</label>
                    <select class="form-control" formControlName="T_ID_type_idT_ID_type">
                        <option *ngFor="let item of ids" [ngValue]="item.idT_ID_type">{{ item.ID_name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="ID_num">Nº:</label>
                    <input type="text" class="form-control" formControlName="ID_num">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="ID_expire">Validade do BI:</label>
                    <input type="date" class="form-control" formControlName="ID_expire_date">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="Birth_date">Data de nascimento:</label>
                    <input type="date" class="form-control" formControlName="Birth_date">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="Student_license">Número de licença:</label>
                    <input type="text" class="form-control" formControlName="Student_license">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="Expiration_date">Validade:</label>
                    <input type="date" class="form-control" formControlName="Expiration_date">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="Tax_num">Nº Contribuinte:</label>
                    <input type="text" class="form-control" formControlName="Tax_num">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="Drive_license_num">Número da carta:</label>
                    <input type="text" class="form-control" formControlName="Drive_license_num">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="Obs">Observações:</label>
            <textarea class="form-control" rows="3" formControlName="Obs1"></textarea>
        </div>

        <legend class="h2 font-weight-light">Exame</legend>
        <hr>
        <!--     <div class="row">
             <div class="col">
              <div class="form-group">
                <label for="Booked_date">Data de recepção:</label>
                <input type="datetime-local" class="form-control" formControlName="Booked_date">
              </div>
            </div> -->

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                <label for="Exam_date">Data do exame:</label>
                <input type="datetime-local" class="form-control" class="form-control" formControlName="Timeslot_date">

                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label for="Fax1">Tipo de exame:</label>
                    <select class="form-control" formControlName="Exam_type_idExam_type">
                        <option *ngFor="let examType of examTypes" [ngValue]="examType.idExam_type">
                            {{ examType.Exam_type_name}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="Obs">Observações</label>
            <textarea class="form-control" rows="3" formControlName="Obs"></textarea>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-lg mr-auto"
                (click)="activeModal.close('Close click')">Fechar</button>
            <button type="submit" class="btn btn-outline-success btn-lg" (click)="getDirtyValues(editExam)">Guardar</button>
        </div>
    </form>
</div>